.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Deux colonnes de taille égale */
  gap: 60px;
  /* Espacement entre les colonnes */
  text-align: center;
  align-items: center;
  padding: 20px;
  /* Ajoute un espace intérieur pour un peu d'air */
  box-sizing: border-box;
  /* Inclut le padding dans les dimensions totales */
  position: relative;
  overflow: hidden;
  /* Cache tout ce qui dépasse */
  min-height: 100px;
  /* Hauteur minimale pour éviter les sauts */
}

.content:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    /* Une seule colonne */
    gap: 10px;
    /* Espacement réduit pour les petits écrans */
  }

  .title {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .title:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .title {
    font-stretch: semi-expanded;
    font-size: medium;
    font-weight: 600;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 10px;
  }

  .title img {
    margin-right: 10px;
    transition: transform 0.3s ease;
    /* Ajoute une transition à l'image */
  }

  .title:hover img {
    transform: scale(1.1);
  }

  .title:hover p,
  .title:hover a {
    color: brown;
    font-size: 1.1em;
    /* Change la couleur du texte et du lien */
  }

}