.footer_container {
    grid-area: f;
    background-color: wheat;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    color: hsl(67, 67%, 35%);
    text-align: center;
}