/* .App {
  text-align: center;
  font-size: larger;
  font-variant: small-caps;
}

ul li {
  text-align: start;
  list-style-type: square;
}

.Test {
  text-align: center;
  font-size: larger;
  font-variant: small-caps;
}

.Edr{
  list-style-type: georgian;
} */
/* project skate */
.app-wrapper {
  display: grid;
  grid-template-rows: 2fr 1fr 9fr;
  grid-template-columns: 2fr;
  grid-template-areas: 
  "h h"
  "c c"
  "c c"
  "f f";
  font-size: larger;
}

.app-wrapper-content  {
  grid-area: c;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  text-align: center;
}


input.fixe {
  margin-left: 65px! important;
}