.app-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Ajuste les rangées pour header, content, et footer */
  grid-template-columns: 1fr;
  /* Une colonne */
  grid-template-areas:
    "h"
    "c"
    "f";
}

.app-wrapper-content {
  grid-area: c;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 84vh;
}

header {
  grid-area: h;
}

footer {
  grid-area: f;
}